* {
  border-color: #fabd2f !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #282828 !important;
  color: #83a598 !important;
}
html {
  background-color: #282828 !important;
}
input,
textarea {
  background-color: #3c3836 !important;
  color: #83a598 !important;
}
blockquote,
pre {
  background-color: #3c3836 !important;
  color: #83a598 !important;
}
#sr-header-area {
  background-color: #3c3836 !important;
}
#sr-header-area .srdrop .selected {
  color: #83a598 !important;
}
#sr-header-area #sr-more-link {
  background-color: #3c3836 !important;
}
.link.promotedlink.promoted {
  background-color: #3c3836 !important;
}
.link .usertext .md {
  background-color: #3c3836 !important;
}
.linkinfo {
  background-color: #3c3836 !important;
}
.linklisting .odd {
  background-color: #3c3836 !important;
}
.thing .title {
  color: #83a598 !important;
}
div.md {
  color: #83a598 !important;
}
body.comment {
  background-color: #282828 !important;
}
.commentarea > .usertext {
  background-color: #282828 !important;
}
.commentarea .menuarea {
  background-color: #282828 !important;
}
.comments-page .panestack-title {
  background-color: #282828 !important;
}
.listing-chooser {
  background-color: #282828 !important;
}
.listing-chooser .intro {
  background-color: #b8bb26 !important;
  color: #8ec07c !important;
}
.listing-chooser .grippy {
  background-color: #282828 !important;
}
.listing-chooser .grippy:after {
  border-right: none !important;
}
.listing-chooser li {
  background-color: #3c3836 !important;
}
.listing-chooser li.selected {
  background-color: #b8bb26 !important;
  box-shadow: none;
}
.listing-chooser li a {
  color: #83a598 !important;
}
.listing-chooser li a .description {
  color: #8ec07c !important;
}
.titlebox {
  background-color: #3c3836 !important;
}
.titlebox form.toggle {
  background-color: #3c3836 !important;
  color: #83a598 !important;
}
.side .usertext-body .md {
  background-color: #3c3836 !important;
}
.side {
  background-color: #3c3836 !important;
}
.sidebox .spacer {
  background-color: #3c3836 !important;
  color: #8ec07c !important;
}
.tabmenu li a {
  background-color: #3c3836 !important;
}
#header-bottom-right {
  background-color: #3c3836 !important;
}
.morelink .nub {
  background-color: #3c3836 !important;
}

._2rszc84L136gWQrkwH6IaM {
  background-color: #282828 !important;
}

.Y4MkVr6trrdypfZVUkpIA, ._2vkeRJojnV7cb9pMlPHy7d {
  background-color: #282828 !important;
}

._3xuFbFM3vrCqdGuKGhhhn0 {
  background-color: #282828 !important;
}

._1poyrkZ7g36PawDueRza-J {
  background-color: #282828 !important;
}

._1RYN-7H8gYctjOQeL8p2Q7 {
  background-color: #282828 !important;
}

._1vyLCp-v-tE5QvZovwrASa {
  background-color: #282828 !important;
}

.wBtTDilkW_rtT2k5x3eie {
  background-color: #282828 !important;
}

._2jJNpBqXMbbyOiGCElTYxZ {
  background-color: #282828 !important;
}

._1r4smTyOEZFO91uFIdWW6T.aUM8DQ_Nz5wL0EJc_wte6 {
  background-color: #282828 !important;
}

._1r4smTyOEZFO91uFIdWW6T .public-DraftEditor-content {
  background-color: #282828 !important;
}

.uI_hDmU5GSiudtABRz_37 {
  background-color: #282828 !important;
}

._1npCwF50X2J7Wt82SZi6J0 {
  background-color: #282828 !important;
}

._2M2wOqmeoPVvcSsJ6Po9-V._3287nL7j7epK9JmDC3N1VR {
  background-color: #282828 !important;
}

.P8SGAKMtRxNwlmLz1zdJu {
  background-color: #282828 !important;
}

._2M2wOqmeoPVvcSsJ6Po9-V {
  background-color: #282828 !important;
}
